<h1>Links</h1>
<p>
  <a href="<%= newLinksPath() %>" class="btn btn-primary">Create New Link</a>
</p>

<table class="table table-striped">
  <thead>
    <th>Original Link</th>
    <th>Short Link</th>
    <th>&nbsp;</th>
  </thead>
  <tbody>
    <%= for (link) in links { %>
      <tr>
        <td><%= link.Link %></td>
        <td><a href="<%= app.Host %>/<%= link.Code %>" target="_blank"><%= app.Host %>/<%= link.Code %></a></td>
        <td>
          <div class="pull-right">
            <a href="<%= linkPath({ link_id: link.ID }) %>" class="btn btn-info">View</a>
            <a href="<%= editLinkPath({ link_id: link.ID }) %>" class="btn btn-warning">Edit</a>
            <a href="<%= linkPath({ link_id: link.ID }) %>" data-method="DELETE" data-confirm="Are you sure?" class="btn btn-danger">Destroy</a>
          </div>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>

<div class="text-center">
  <%= paginator(pagination) %>
</div>
